rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /groceries/{id} {
      allow read, create, update, delete: if true;
    }
    match /recipes/{id} {
      allow read, create, update, delete: if true;
    }
  }
}
